{erl_opts, [debug_info]}.
{deps, []}.

{escript_main_app, genProto}. % specify which app is the escript app
{escript_name, genProto}. % name of final generated escript
%%{escript_emu_args, "%%! -escript main Module\n"}. % emulator args
%%{escript_shebang, "#!/usr/bin/env escript\n"}. % executable line
%%{escript_comment, "%%\n"}. % comment at top of escript file